services:
  redis:
    image: redis:alpine
    container_name: health-redis
    ports:
      - "6379:6379"
    networks:
      - health-network

  node-ingestion:
    build: ./node-ingestion
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
    ports:
      - "3000:3000"
    networks:
      - health-network

  python-analytics:
    build: ./python-analytics
    environment:
      - REDIS_HOST=redis
      - JAVA_SERVICE_URL=http://java-core:8080/alerts
    depends_on:
      - redis
    networks:
      - health-network

networks:
  health-network:
    driver: bridge
